name: release

on:
  workflow_dispatch:
    inputs:
      image_tag:
        type: string
        required: true

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Docker login
      env:
        DOCKER_LOGIN: oauth
        DOCKER_PASSWORD: ${{ secrets.YA_REGISTRY_TOKEN }}
        REGISTRY: crp31on8mcbc3o9sr88o
      run: docker login cr.yandex --username $DOCKER_LOGIN --password $DOCKER_PASSWORD

    - name: Build
      run: docker build -t cr.yandex/$REGISTRY/python-docker:${{ github.event.inputs.image_tag }} -t cr.yandex/$REGISTRY/python-docker:latest .

    - name: Push
      run: docker push cr.yandex/$REGISTRY/python-docker
